#blurb.well
  p New Venture Prep is a global entrepreneurship training organization that exclusively provides education for global best practices for entrepreneurship.
  p We provide independent self-­study programs and online seminars as well as on-­site instructor-­led training and e-­learning services for independent students, corporations, investment banks and educational institutions.
  p Our commitment to excellence is demonstrated in our curriculum, relaonships and execution through every step of the entrepreneurial process for our students. Our students can thus focus on launching and growing their own ventures from seed to fruition.
  p Find out why more and more talented entrepreneurs are turning to New Venture Prep.
.clear