<h1>Careers</h1>

<% @jobs.each do |job| %>
<article>
  <header>
    <h2><%= job.position %></h2>
  </header>
  <%= markdown(job.description) %>
  <p>Interested?  <a href="mailto:careers@newventureprep.com">Email us at careers@newventureprep.com</a></p>
</article>
<% end %>