#menu.navigation
  #smoothmenu1
    %ul
      %li.first.selected
        %a.first{:href => "/"} Home
      %li
        %a{:href => "/{{ market_sector._permalink }}"}
      %li
        %a{:href => "/instructors"} Instructors
      %li
        %a.last{:href => "/about-us"} About Us
  .clear