<article>
  <header>
    <h2>About Us</h2>
  </header>
  <p>
    New Venture Institute is a global entrepreneurship training organization that exclusively provides education for global best practices for entrepreneurship.
  </p>
  <p>
    New Venture Institute enables you to gain an accelerated foundation in real-­world financial modeling and core financial concepts and best practices so that you can perform at your best as an entrepreneur. Armed in hand with these skills, both aspiring and experienced entrepreneurs can leverage their skills, start and build new enterprises and offer lasting value to their organizations.
  </p>
  <p>
    We provide independent self-­study programs and online seminars as well as on-­site instructor-­led training and e-­learning services for independent students, corporations, investment banks and educational institutions.
  </p>
  <p>
    Our commitment to excellence is demonstrated in our curriculum, relationships and execution through every step of the entrepreneurial process for our students. Our students can thus focus on launching and growing their own ventures from seed to fruition.
  </p>
</article>
<article>
  <header>
    <h2>Meet Us</h2>
  </header>
  <p>
    Meet the New Venture Institute team behind the scenes facilitating the connection between students and online and instructor-­led education.
  </p>
  <p>
    Curious? Find out more about the team behind New Venture Institute -­ who we are, what we do and why we do what we do.
  </p>
</article>
<article>
  <header>
    <h2>Work With Us</h2>
  </header>
  <p>
    Are you excited by what you see here and want to work with us? We welcome your application. New Venture Institute is a company of enterprising individuals from the nation’s leading institutions and companies. We are committed to offering the best entrepreneurial education possible through our collaborations with these individuals and companies.
  </p>
  <p>
    We leverage technology tools to facilitate this process as expediently and seamlessly as possible so that you can put your energy on where it matters most: your passion.
  </p>
</article>