// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.cart {
  width: 710px;

  thead tr th {
    font-size: 12px;
  }

  tbody tr td {
    font-size: 11px;
    line-height: 41px;
    padding-top: 0;
    padding-bottom: 0;
  }

  td.actions {
    text-align: right;
    width: 100px;
  }
}

h3.process_payment_msg {
  margin-top: 30px;
}