// Place all the styles related to the instructors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.image img {
  float: left;
}

div.image {
  overflow: auto;
  float: left;
}

div.bio {
  float: right;
  width: 600px;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  line-height: 17px;
}