// Place all the styles related to the UserSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.nav-header {
  margin-top: 10px;
}

#big_login_form {
  margin-right: 25px;
  border-color: #f3f3f3;
  border-style: solid;
  border-right-width: 1px;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  padding-right: 25px;
}